apiVersion: apps/v1
kind: Deployment
metadata:
  name: mon-super-site
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: disk
                operator: In
                values:
                - ssd
      tolerations:
      - key: "statut"
        operator: "Equal"
        value: "maintenance"
        effect: "NoSchedule"
      containers:
      - name: nginx
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 25m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        env:
          - name: PASSWORD_ADMIN
            valueFrom:
              secretKeyRef:
                name: mon-secret-admin
                key: password
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html
        - name: data-persistant
          mountPath: /var/donnees
      volumes:
      - name: html-volume
        configMap:
          name: ma-config-html
      - name: data-persistant
        persistentVolumeClaim:
          claimName: mon-ticket-stockage